// Global Styles
// =============================================================
@include set-theme(light);

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include font-size(17);

  background: $snow;
  color: $charcoal;
  font-family: $primary-font;
  line-height: 1.65;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: scroll;
  height: auto;
}

a,
img,
button {
  border: 0 none;
  outline: none;
  text-decoration: none;
}

a {
  color: $accent;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $accent-hover;
    cursor: pointer;
  }

  &:active {
    color: $accent-hover;
  }
}

.link-icon {
  padding-left: 6px;
  vertical-align: middle;
  @include font-size(12);

  opacity: 0.6;
}

video {
  width: 100%;
}

strong {
  font-weight: 600;
}

.inverse-title {
  color: $mist;
}

// Scrollbar
::-webkit-scrollbar {
  background: $fog;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $fog;
}

::-webkit-scrollbar-thumb {
  background: $mist;
  border-radius: 5px;

  &:hover {
    background: $stone;
  }
}
