:host {
  .main-column {
    margin-bottom: 3rem;

    header {
      margin-bottom: 2rem;

      h2 {
        margin: 150px 5% 48px;
      }
    }
  }

  .text-container {
    line-height: 1.7;
    margin-bottom: 2rem;

    p {
      margin-bottom: 1.5rem;
    }
  }

  .image-section {
    margin-bottom: 2rem;
  }

  .image-container {
    margin-bottom: 1.5rem;

    img.subsection-display {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
