// Footer
// =============================================================

.site-footer {
  @include clearfix;
  @include font-size(13);

  background: $ink;
  clear: both;
  color: $stone;
  font-family: $primary-font;
  margin: 0 auto;
  padding: 32px 5%;
}

.disclaimer {
  display: block;
  float: left;
  margin: 0;
  text-align: left;
  width: 50%;

  @include breakpoint(laptop) {
    text-align: center;
    width: 100%;
  }
}
