// =============================================================
// Specific Styles
// =============================================================

// Project Navigation
// =============================================================


.project-nav {
    box-shadow: inset 10px 0px 15px -5px $black;
    display: block;
    height: 100%;
    left: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 0 2%;
    position: fixed;
    top: 0;
    transition: all .3s ease;
    width: 21%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
    }

    a {
        @include font-size(16);
        border-bottom: 1px solid $mine-shaft;
        border-top: 1px solid $tundora;
        color: $white;
        display: block;
        font-family: $open-sans;
        float: none;
        margin: 0;
        padding: 10px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: $danube;
        }
    }
}

.menu-open .project-nav {
    display: block;
    left: 80%;
    padding: 0;
    transition: left .3s ease;

    @include breakpoint(max-width 768px) {
        left: 40%;
        width: 63%;
    }
}


.mobile-anchor {
    display: none;
    padding: 40px;

    @include breakpoint(max-width 768px) {
        display: block;
    }
}

// Main Navigation - Desktop
// =============================================================
.main-nav {
    position: fixed;
    right: 5%;
    top: 16px;
    transition: right .3s ease;
    width: auto;
    z-index: 9999;

    @include breakpoint(max-width 1366px) {
        top: 10px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }

    a {
        @include font-size(18);
        color: $white;
        display: block;
        float: left;
        font-family: $open-sans;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: $danube;
        }
    }
}

.changed .main-nav {
    opacity: 1;
    top: 8px;
}

.menu-open .main-nav {
    right: 25%;
    transition: right .3s ease;

    @include breakpoint(max-width 768px) {
        right: 63%;
    }
}

// Header
// =============================================================
.header {
    background: $mine-shaft;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 13px 5%;
    position: fixed;
    top: 0;
    transition: left .3s ease, padding .3s ease, opacity .3s ease;
    width: 100%;
    z-index: 999;

    @include breakpoint(max-width 667px) {
        position: absolute;
    }

    @include breakpoint(max-width 375px) {
        position: fixed;
    }
}

.changed .header {
    opacity: .7;
    padding: 10px 5%;
}

.menu-open .header {
    left: -20%;

    @include breakpoint(max-width 768px) {
        left: 0;
    }
}

.changed .logo {
    width: 2%;

    @include breakpoint(max-width 978px) {
        width: 5%;
    }

    @include breakpoint(max-width 568px) {
        width: 9%;
    }
}

.logo {
    display: block;
    float: left;
    line-height: 1em;
    margin: 0 10px;
    transition: width .3s ease;
    width: 3%;

    @include breakpoint(max-width 978px) {
        width: 5%;
    }

    @include breakpoint(max-width 568px) {
        width: 9%;
    }

    img {
        max-width: 100%;
    }
}

.changed .tagline {
    display: none;
}

.tagline {
    @include font-size(18);
    color: $white;

    font-family: $open-sans;
    font-style: italic;
    margin: 0;

    @include breakpoint(max-width 1366px) {
        @include font-size(14);
    }

    @include breakpoint(max-width 978px) {
        display: none;
    }
}

// Content
// =============================================================
.main-column {
    @include clearfix();
    background: $gallery;
    clear: both;
    padding: 92px 0;
    position: relative;

    @include breakpoint(max-width 768px) {
        // -webkit-overflow-scrolling: touch;
        padding: 100px 0 50px;
    }
}

.project {
    display: inline-block;
    margin: 0 0 85px 5%;
    max-width: 27%;
    position: relative;
    transition: background 350ms ease-out;
    width: 100%;

    @include breakpoint(max-width 1366px) {
        max-width: 42.5%;
    }

    @include breakpoint(max-width 768px) {
        display: block;
        margin: 0 auto 35px;
        max-width: 90%;
    }

    &:hover .description {
        background: rgba($black, .6);
        transition: background 350ms ease-out;
    }

    &:hover .description .inner {
        opacity: 1;

        @include breakpoint(max-width 768px) {
            opacity: 0;
        }
    }
}

.project-title {
    @include font-size(18);
    color: $danube;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: underline;

    &:hover {
        color: $white;
    }
}

.project-link {
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 950;
}

.description {
    bottom: 0;
    color: $white;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.inner {
    background: $mine-shaft;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    transition: opacity 350ms ease-out;
    width: 100%;
    z-index: 1000;
}

.copy {
    font-size: 16px;
    margin: 0;
    padding: 0;

    a {
        color: $danube;
        font-style: italic;
        text-decoration: underline;

        &:hover {
            color: $white;
        }
    }
}

.copy-subsection {
    margin: 0 0 50px;
    text-align: center;
}

.subsection-title {
    margin: 0 5%;
}

.subsection-image {
    display: block;
    margin: 0 auto 100px;
    width: 40%;
}

.form-container {
    background: $gallery;
}

.form {
    margin: 0 auto;
    padding: 25px;
    width: 50%;
}

.subsection-container {
    clear: both;
    padding: 100px 0 150px;
    width: 100%;
}

.parallax-container {
    background: url('../images/Display_Img/3D_chess_set.jpg') $gallery center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px 0;
}

// Display Images
// =============================================================
%zoom {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: 102%;
    height: 0;
    padding-bottom: 18%;

    @include breakpoint(max-width 1366px) {
        padding-bottom: 28%;
    }

    @include breakpoint(max-width 768px) {
        padding-bottom: 58%;
    }

    &:hover {
        background-size: 100%;
    }
}

.iphone-app {
    @extend %zoom;
    background-image: url('../images/Display_Img/iphoneApp.jpg');
}

.reflow {
    @extend %zoom;
    background-image: url('../images/Display_Img/reflow.jpg');
}

.hope-rocks {
    @extend %zoom;
    background-image: url('../images/Display_Img/hoperocks.jpg');
}

.emails {
    @extend %zoom;
    background-image: url('../images/Display_Img/email_display.jpg');
}

.walts {
    @extend %zoom;
    background-image: url('../images/Display_Img/walts.jpg');
}

.protire {
    @extend %zoom;
    background-image: url('../images/Display_Img/protireandservice.jpg');
}

.kinetic {
    @extend %zoom;
    background-image: url('../images/Display_Img/aftereffects_kinetic_type.jpg');
}

.chess {
    @extend %zoom;
    background-image: url('../images/Display_Img/3D_chess_set.jpg');
}

.bracelet {
    @extend %zoom;
    background-image: url('../images/Display_Img/3D_bracelet.jpg');
}

.keypad {
    @extend %zoom;
    background-image: url('../images/Display_Img/keypad_resized.jpg');
}

.text-design {
    @extend %zoom;
    background-image: url('../images/Display_Img/design_resized.jpg');
}

.winter {
    @extend %zoom;
    background-image: url('../images/Display_Img/winter.jpg');
}

.mailers {
    @extend %zoom;
    background-image: url('../images/Display_Img/travel_mailer.jpg');
}

.earth {
    @extend %zoom;
    background-image: url('../images/Display_Img/earth_fest.jpg');
}

.napa {
    @extend %zoom;
    background-image: url('../images/Display_Img/napa.jpg');
}

.logo-process {
    @extend %zoom;
    background-image: url('../images/Display_Img/design_process.jpg');
}

.live {
    @extend %zoom;
    background-image: url('../images/Display_Img/life_drawings.jpg');
}

.sketches {
    @extend %zoom;
    background-image: url('../images/Display_Img/more_drawings.jpg');
}



// Skills Styles
// =============================================================
.skills-container {

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }

    li {
        display: block;

        div {
            background: $danube;
            color: $white;
            margin: 0 0 30px;
            padding: 25px 2%;
            text-transform: uppercase;
            transition: width .8s ease;
            width: 10%;

            @include breakpoint(max-width 768px) {
                @include font-size(12);
                padding: 10px 2%;
            }
        }
    }

}

.skill-lvl-1-active {
    animation: skill-lvl-1-active .6s ease forwards;
}

.skill-lvl-2-active {
    animation: skill-lvl-2-active .6s ease forwards;
}

.skill-lvl-3-active {
    animation: skill-lvl-3-active .6s ease forwards;
}

@keyframes skill-lvl-1-active {
    from {
        width: 0%;
    }

    to {
        width: 33.33%;
    }
}

@keyframes skill-lvl-2-active {
    from {
        width: 0%;
    }

    to {
        width: 66.66%;
    }
}

@keyframes skill-lvl-3-active {
    from {
        width: 0%;
    }

    to {
        width: 99.99%;
    }
}


// Carousel Styles
// =============================================================
.carousel-inner>.item {
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease-in-out;
}

.carousel-inner>.item.active,
.carousel-inner>.item.left,
.carousel-inner>.item.right {
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease-in-out;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-indicators {
    bottom: 0;

    li {
        background-color: $danube;
        border-color: $danube;
    }
}

.carousel-control {
    color: $danube;
}


// Modal Styles
// =============================================================
.modal-dialog {
    margin: 100px auto 0;
    width: 50%;
    z-index: 9999;

    @include breakpoint(max-width 768px) {
        margin: 100px auto;
        width: 90%;
    }

    @include breakpoint(max-width 667px) {
        margin: 15px auto;
        width: 65%;
    }

    @include breakpoint(max-width 375px) {
        margin: 100px auto;
        width: 90%;
    }
}

.modal-backdrop {
    z-index: 9000;
}

.menu-open .modal.in .modal-dialog {
    transform: translate(-66%, 0);
}

.modal {
    overflow-y: auto;
    padding-right: 0;
}

.modal-open {
    overflow: auto;
}

.modal-content {
    border: 0 none;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}

.modal-image {
    margin: 0 auto;
    width: 100%;
}

.large-modal-image {
    display: block;
    margin: 0 auto;
    padding: 25px 0;
    width: 70%;
}

.modal-body {
    background: $mine-shaft;
    border-radius: 0;
    padding: 0;
}

.modal-footer {
    background: $mine-shaft;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba($black, .5);
    color: $white;

    @include breakpoint(max-width 768px) {
        text-align: center;
    }

    @include breakpoint(max-width 667px) {
        display: none;
    }

    @include breakpoint(max-width 375px) {
        display: block;
    }

    p {
        float: left;
        margin: 0;
        padding: 5px 0 0;
        text-align: left;

        @include breakpoint(max-width 768px) {
            @include font-size(11);
            float: none;
            margin: 0 0 10px;
        }

        a {
            color: $white;
        }
    }

    button {
        float: right;

        @include breakpoint(max-width 768px) {
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
        }
    }
}

%video-wrapper {
    height: 0;
    padding-bottom: 72%;
    padding-top: 25px;
    position: relative;

    iframe {
        border: 0 none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.video-wrapper {
    @extend %video-wrapper;
}

.kinetic-modal .video-wrapper {
    @extend %video-wrapper;
    padding-bottom: 79%;
}

// Footer
// =============================================================
.site-footer {
    @include font-size(18);
    background: $mine-shaft;
    clear: both;
    color: $white;
    font-family: $times;
    margin: 0 auto;
    padding: 100px 0;
}

.footer-content {
    @include clearfix();
    margin: 0 auto;
    padding: 0;
    width: 90%;

    @include breakpoint(max-width 978px) {
        width: 60%;
    }

    @include breakpoint(max-width 768px) {
        width: 90%;
    }
}

.disclaimer {
    display: block;
    float: left;
    margin: 0;
    text-align: left;
    width: 50%;

    @include breakpoint(max-width 978px) {
        text-align: center;
        width: 100%;
    }
}

// Social Nav
// =============================================================
.social-nav {
    @include clearfix();
    margin: 50px auto;
    width: 25%;

    @include breakpoint(max-width 1300px) {
        width: 30%;
    }

    @include breakpoint(max-width 978px) {
        width: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;

        a {
            display: block;
            float: left;
            margin: 0 auto;
            padding: 0 0 34px;
            text-indent: -9999px;
            width: 20%;
        }
    }
}

.twitter {
    background: url('../images/Social/twitter_icons.png') no-repeat top center;

    &:hover {
        background-position: bottom center;
    }
}

.linkedin {
    background: url('../images/Social/linkedin_icons.png') no-repeat top center;

    &:hover {
        background-position: bottom center;
    }
}

.facebook {
    background: url('../images/Social/facebook_icons.png') no-repeat top center;

    &:hover {
        background-position: bottom center;
    }
}

.behance {
    background: url('../images/Social/behance_icons.png') no-repeat top center;

    &:hover {
        background-position: bottom center;
    }
}

.github {
    background: url('../images/Social/github_icons.png') no-repeat top center;

    &:hover {
        background-position: bottom center;
    }
}
