/*////////////////////////////////////////////Footer///////////////////////////////////////////*/


.footer {
	clear:both;
	font-family: $times;
	margin: 0 auto;
	padding: 65px 0 0;
	background: $dark-grey;
	color: $white;
	@include font-size(18);
}

.inverse-title{
	color: $white;
}

.footer-content {
	@include clearfix();
	width: 90%;
	margin: 0 auto 50px;
	padding: 0;
	p{
		text-align: center;
		@include font-size(18);
	}
	@include breakpoint(max-width 978px) {
		width: 60%;
	}
	@include breakpoint(max-width 768px) {
		width: 90%;
	}
}


/*////////////////////////////////////////////Social///////////////////////////////////////////*/


.social-nav {
	@include clearfix();
	width: 20%;
	margin: 70px auto;
	float: right;
	@include breakpoint(max-width 1500px) {
		width: 65%;
	}
	@include breakpoint(max-width 978px) {
		width: 75%;
	}
	@include breakpoint(max-width 450px) {
		width: 100%;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline;
			a{
				display: block;
				float: left;
				padding: 0 0 34px;
				width: 20%;
				margin: 0 auto;
				text-indent: -9999px;
			}
		}
	}
}

.twitter {
	background: url('../images/Social/twitter_icons.png') no-repeat top center;
	&:hover{
		background-position: bottom center;
	}
}

.linkedin {
	background: url('../images/Social/linkedin_icons.png') no-repeat top center;
	&:hover{
		background-position: bottom center;
	}
}

.facebook {
	background: url('../images/Social/facebook_icons.png') no-repeat top center;
	&:hover{
		background-position: bottom center;
	}
}

.behance {
	background: url('../images/Social/behance_icons.png') no-repeat top center;
	&:hover{
		background-position: bottom center;
	}
}

.github {
	background: url('../images/Social/github_icons.png') no-repeat top center;
	&:hover{
		background-position: bottom center;
	}
}

.disclaimer{
	margin: 85px 0;
	display: block;
	float: left;
}