// =============================================================
// Variables
// =============================================================

// blues
$danube: #69c;

// neutral
$white: #fff;
$black: #000;
$gallery: #ececec;

// greys
$silver: #ccc;
$mine-shaft: #2e2e2e;
$tundora: #484848;

// fonts
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$times: 'Times New Roman', Times, Baskerville, Georgia, serif;
$open-sans: 'Open Sans Condensed', sans-serif;
