// Colors
// =============================================================

// blues
$danube: #69c;
$matisse: #1d5790;

// neutral
$white: #fff;
$black: #000;
$gallery: #ececec;

// greys
$silver: #ccc;
$mine-shaft: #2e2e2e;
$tundora: #484848;
