// Colors
// =============================================================

/* stylelint-disable */

// blues
$danube: #6699cc;
$chambray: #2B5782;

// neutral
$white: #ffffff;
$black: #000000;
$gallery: #ececec;

// greys
$silver: #cccccc;
$mine-shaft: #2e2e2e;
$tundora: #484848;
$grey: #595959;

/* stylelint-enable */
