// Fonts
// =============================================================

$helvetica: Helvetica Neue,Helvetica,Arial,sans-serif; 
$times: 'Times New Roman', Times, Baskerville, Georgia, serif;
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$garamond: 'Cormorant Garamond', serif;

$primary-font: $helvetica;
$secondary-font: $montserrat;
$tertiary-font: $garamond;
