// Fonts
// =============================================================

 @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(assets/fonts/Montserrat-Light.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(assets/fonts/Montserrat-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/Montserrat-Bold.ttf) format('woff2');
}



$helvetica: helvetica neue, helvetica, arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;
$garamond: 'Cormorant Garamond', serif;

$primary-font: $helvetica;
$secondary-font: $montserrat;
$tertiary-font: $montserrat;

