// Fonts
// =============================================================

$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$times: 'Times New Roman', Times, Baskerville, Georgia, serif;
$open-sans: 'Open Sans Condensed', sans-serif;
