// Changes when the site is scrolled down from top
// =============================================================

.changed .header {
    opacity: .7;
    padding: 10px 5%;
}

.changed .logo {

    @include breakpoint(laptop) {
        width: 5%;
    }
    @include breakpoint(phone) {
        width: 9%;
    }
}

.changed .id-container {
    display: none;
}

.changed .main-nav {
    opacity: 1;
}
