// Footer
// =============================================================
.site-footer {
    @include font-size(16);
    background: $mine-shaft;
    clear: both;
    color: $white;
    font-family: $tertiary-font;
    margin: 0 auto;
    padding: 100px 0;
}

.disclaimer {
    display: block;
    float: left;
    margin: 0;
    text-align: left;
    width: 50%;

    @include breakpoint(laptop) {
        text-align: center;
        width: 100%;
    }
}
