// Header
// =============================================================
.header {
    background: $mine-shaft;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 13px 5%;
    position: fixed;
    top: 0;
    transition: left .3s ease, padding .3s ease, opacity .3s ease;
    width: 100%;
    z-index: 999;

    h5 {
        float:left;
        color: $white;

        @include breakpoint(desktop) {
            display: none;
        }
    }
}

.id-container {
    float: left;
    display: block;
    width: 160px;
}

.logo {
    display: block;
    float: left;
    line-height: 1em;
    margin: 0 10px;

    @include breakpoint(desktop) {
        width: 4%;
    }

    @include breakpoint(laptop) {
        width: 5%;
    }

    @include breakpoint(phone) {
        width: 9%;
    }

    img {
        max-width: 100%;
    }
}
