// Projects - Main Page
// =============================================================
.grid-container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-gap: 85px 2.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include breakpoint(desktop) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(tablet) {
        grid-template-columns: 1fr;
    }
}

.project {
    background: $white;
    box-shadow: 0px 0px 10px -2px $silver;
}

.project-link {
    @include font-size(14);
    background: $danube;
    border: 0 none;
    color: $white;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.description {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 350px;

    p {
        margin-bottom: 25px;
    }
}
