<header class="header">
    <a routerLink="/" class="logo" title="Home"><img src="/images/brianrogstad-logo-inverse.png" width="66" height="66" alt="BrianRogstad.com"></a>
    <div class="id-container">
        <h1>Brian Rogstad <br> <span class="tagline">Digital Portfolio</span></h1>
    </div>

    <nav class="main-nav">
        <ul class="nav desktop-nav">
            <li *ngFor="let item of navItems">
                <a *ngIf="!item.children" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.route === '/'}">{{ item.label }}</a>
            </li>
            <li *ngFor="let item of navItems" class="dropdown" [class.dropdown]="item.children">
                <a *ngIf="item.children" href="#" class="dropdown-toggle" role="button" [id]="item.label + 'dropdownMenu'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ item.label }}
                </a>
                <div *ngIf="item.children" class="dropdown-menu" [attr.aria-labelledby]="item.label + 'dropdownMenu'">
                    <a *ngFor="let child of item.children" class="dropdown-item" [routerLink]="child.external ? undefined : child.route" [href]="child.external ? child.route : undefined" [target]="child.external ? '_blank' : undefined" [rel]="child.external ? 'noopener noreferrer' : undefined">
                        {{ child.label }}
                        <i *ngIf="child.external" class="fa fa-external-link link-icon"></i>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="mobile-nav">
            <li><a href="#" title="Navigation" class="open-menu" (click)="openMobileMenu($event)"><i class="fa fa-bars"></i></a></li>
            <li><a href="#" title="Navigation" class="close-menu" (click)="closeMobileMenu($event)"><i class="fa fa-times"></i></a></li>
        </ul>
        
    </nav>

    <nav class="project-nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li *ngFor="let item of navItems">
                <p *ngIf="item.children">{{ item.label }}</p>
                <ng-container *ngIf="item.children">
                    <li *ngFor="let child of item.children">
                        <a [routerLink]="child.external ? undefined : child.route" [href]="child.external ? child.route : undefined" [target]="child.external ? '_blank' : undefined" [rel]="child.external ? 'noopener noreferrer' : undefined">
                            {{ child.label }}
                            <i *ngIf="child.external" class="fa fa-external-link link-icon"></i>
                        </a>
                    </li>
                </ng-container>
            </li>
        </ul>
    </nav>
</header>

<div class="page-wrap">
  <router-outlet />
  
  <footer class="site-footer">
      <p class="disclaimer">&#169; Brian Rogstad {{ yearRange }}. All rights reserved.</p>
  </footer>
</div>
