// Fonts
// =============================================================

 @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}


$helvetica: helvetica neue, helvetica, arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;

$primary-font: $helvetica;
$secondary-font: $montserrat;


